h1,h2,h3,h4,h5,h6{
    color: #5a6268;
}

ul{
    list-style: none;
}

.container-post-detail{
    margin-top: 6em;
    margin-bottom: 6em;
}

.card-body span{
    font-size: 16px;
}

.card-body span:not(:first-child){
    margin-left: 1em;
}

.post-more span:last-child{
    float: right;
}

/* 目录 */
.toc a{
    color: #5a6268;
}

.toc li:first-child{
    list-style: none;
}

.toc ul{
    padding-left: 1em;
}

