ul{
    list-style-type: none;
    margin-bottom: 0;
}

li{
    font-size: 16px;
}

.container-post-list{
    margin: 5em 1em 8em 1em;
}

.post-list .post-info{
    margin-bottom: 1em;
}

.card-title span{
    font-size: 16px;
    margin-left: 1em;
}

.card{
    margin-top: 1em;
}

.card-body .btn{
    margin-left: 45%;
}

/* 代码高亮 */
.codehilite {
    padding: 0;
}

/* for block of numbers */
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px;
}

.hljs-ln-n {
  width: 30px;
}

/* for block of code */
.hljs-ln .hljs-ln-code {
  padding-left: 10px;
  white-space: pre;
}

/* 代码高亮结束 */

/*头像框*/
.description{
    font-size: 14px;
}

.card-avatar-category{
    list-style: none;
}

.card-avatar-category li{
    float: left;
}

.card-avatar-category li:not(:first-child){
    margin-left: 2.75em;
}

.label{
    font-size: 11px;
    line-height: 1.125;
    margin-bottom: 0;
}

.number{
    font-size: 2rem;
    font-weight:600;
}

