{% extends 'base.html' %}
{% load static %}

{% block title %}
    分类：{{ category.name }}
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="container-post-list">
    <div class="row">
        <div class="col-md-6 offset-md-2 post-list">
            {% for post in page_of_posts.object_list %}
                <div class="card">
                    <h5 class="card-header text-center">
                        {{ post.title }}
                    </h5>
                    <div class="card-body">
                    <h4 class="card-title text-center">
                        <span class=>时间：<a href="#">{{ post.created_time }}</a></span>
                        <span class=>作者：<a href="#">{{ post.author }}</a></span>
                        <span><a href="#">4 评论</a></span>
                        <span><a href="#">588 阅读</a></span>
                    </h4>
                    <p class="card-text text-center">{{ post.excerpt|safe }}</p>
                    <a href="{% url 'detail' post.pk %}" class="btn btn-primary">继续阅读</a>
                    </div>
                </div>
            {% empty %}
                <div>暂时还没有文章发布！</div>
            {% endfor %}
            <br>
            <span>一共有{{ posts|length }}篇文章</span>
        </div>

        <div class="col-md-2 offset-md-1 d-none d-sm-block ">
            <div class="card">
                <div class="card-header">
                  最新文章
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <ul class="card-tag">
                            {% for post in top10_post_list %}
                                <li>
                                    <a href="{% url 'detail' post.pk %}">
                                        {{ post.title }}
                                    </a>
                                </li>
                            {% empty %}
                                <li>
                                    暂无最新文章
                                </li>
                            {% endfor %}
                        </ul>
                  </blockquote>
                </div>
            </div>

            <div class="card">
                <div class="card-header text-center">
                  分类
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <ul class="card-tag">
                            {% for category in categories %}
                                <li>
                                    <a href="{% url 'category' category.pk %}">
                                        {{ category.name }} 
                                        <span class="tag">{{ category.post_count }}</span>
                                    </a>
                                </li>
                            {% empty %}
                                <li>
                                    暂无分类
                                </li>
                            {% endfor %}
                        </ul>
                  </blockquote>
                </div>
            </div>

            <div class="card">
                <div class="card-header text-center">
                  归档
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <ul class="card-tag">
                            {% for post_date, post_count in post_dates.items %}
                                <li>
                                    <a href="{% url 'archive' post_date.year post_date.month %}">
                                        {{ post_date|date:"Y-m" }} 
                                        <span class="tag">{{ post_count }}</span>
                                    </a>
                                </li>
                            {% empty %}
                                <li>
                                    暂无归档
                                </li>
                            {% endfor %}
                        </ul>
                  </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}