{% extends 'base.html' %}
{% load static %}

{% block nav_index_active %}active{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}蒙珣的博客{% endblock %}

{% block content %}

<div class="container-post-list">
    <div class="row">
        <div class="col-md-2 d-none d-sm-block offset-md-1">
            <div class="card card-avatar" style="width: 18rem;">
                <img class="card-img-top" src="../static/images/Avatar.JPG" alt="Card image cap">
                <div class="card-body text-center">
                    <h4>AustinWilliam117</h4>
                    <p class="description">我的博客，包括一些对工作、生活和学习的记录。</p>
                    <span class="zi zi_idRec">Zhengzhou,China</span>
                    <br><br>
                    <ul class="card-avatar-category">
                        <li><div>
                            <p class="label">分类</p>
                            <p class="number">3</p>
                        </div></li>

                        <li><div>
                            <p class="label">归档</p>
                            <p class="number">6</p>
                        </div></li>

                        <li><div>
                            <p class="label">标签</p>
                            <p class="number">10</p>
                        </div></li>
                    </ul>

                </div>
            </div>
            <div class="card">
                <h5 class="card-header text-center">分类</h4>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 post-list">
            {% for post in post_list %}
                <div class="card">
                    <h5 class="card-header text-center">
                        {{ post.title }}
                    </h5>
                    <div class="card-body">
                    <h4 class="card-title text-center">
                        <span>分类：<a href="#">{{ post.category.name }}</a></span>
                        <span class="d-none">时间：<a href="#">{{ post.created_time }}</a></span>
                        <span class="d-none">作者：<a href="#">{{ post.author }}</a></span>
                        <span><a href="#">4 评论</a></span>
                        <span><a href="#">588 阅读</a></span>
                    </h4>
                    <p class="card-text text-center">{{ post.excerpt|safe }}</p>
                    <a href="{% url 'detail' post.pk %}" class="btn btn-primary">继续阅读</a>
                    </div>
                </div>
            {% empty %}
                <div>暂时还没有文章发布！</div>
            {% endfor %}
        </div>
        <div class="col-md-2 d-none d-sm-block ">
            <div class="card">
                <div class="card-header text-center">
                  最新文章
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <ul>
                            {% for blog_type in blog_types %}
                                <li>
                                    <a href=" {% url 'blogs_with_type' blog_type.pk %} ">
                                        {{ blog_type.type_name }} ({{ blog_type.blog_count }})
                                    </a>
                                </li>
                            {% empty %}
                                <li>
                                    暂无分类
                                </li>
                            {% endfor %}
                        </ul>
                  </blockquote>
                </div>
            </div>

            <div class="card">
                <div class="card-header text-center">
                  归档
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <ul>
                            {% for blog_type in blog_types %}
                                <li>
                                    <a href=" {% url 'blogs_with_type' blog_type.pk %} ">
                                        {{ blog_type.type_name }} ({{ blog_type.blog_count }})
                                    </a>
                                </li>
                            {% empty %}
                                <li>
                                    暂无分类
                                </li>
                            {% endfor %}
                        </ul>
                  </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}