{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/zico.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://cdn.bootcss.com/highlight.js/9.15.8/styles/github.min.css" rel="stylesheet">
    {# bootstrap 依赖的JQuery #}
    <script src="{% static 'bootstrap-4.4.1-dist/js/jquery/jquery.js' %}"></script>
    {# 弹窗、下拉菜单、提示js #}
    <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.js' %}"></script>    
    <script src="{% static 'bootstrap-4.4.1-dist/js/popper.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    {% block header_extends %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <div>
        <!-- header -->
        <header id="bbs_header">
            <div class="top-bar">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-forum fixed-top">
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img src="../static/images/logo2.png" class="d-inline-block align-top" alt="">
                        蒙珣的博客
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item {% block nav_index_active %}{% endblock %}">
                                <a class="nav-link" href="{% url 'index' %}">首页 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item {% block nav_category_active %}{% endblock %}">
                                <a class="nav-link" href="">分类</a>
                            </li>
                            <li class="nav-item {% block nav_blog_active %}{% endblock %}">
                                <a class="nav-link" href="">归档</a>
                            </li>
                            <li class="nav-item {% block nav_contact_active %}{% endblock %}">
                                <a class="nav-link" href="">联系</a>
                            </li>
                            <li class="nav-item {% block nav_about_active %}{% endblock %}">
                                <a class="nav-link" href="">关于</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0 .mr-auto" action="{% url 'search' %}">
                            <input class="form-control mr-sm-2" type="search" name="wd" placeholder="搜索" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                        </form>
                        <!-- <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                            
                        </ul> -->
                        <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs ">
                            {% if not user.is_authenticated %}
                                <li class="nav-item {% block nav_register_active %}{% endblock %}">
                                    <a class="btn btn-success" href="">注册</a>
                                </li>
                                <li class="nav-item {% block nav_login_active %}{% endblock %}">
                                    <a class="nav-link" href="">登录</a>
                                </li>
                            {% else %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% if has_nickname %}
                                            {{ user.username }}({{ user.get_nickname }})
                                        {% else %}
                                            {{ user.username }}
                                        {% endif %}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                      <a class="dropdown-item {% block nav_user_info_active %}{% endblock %}" href="">个人资料</a>
                                      <a class="dropdown-item" href="">发布博客</a>
                                      {% if user.is_staff or user.is_superuser %}
                                        <a class="dropdown-item" href="">后台管理</a>
                                      {% endif %}
                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item" href="">退出</a>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        {% block content %}{% endblock %}

        {# 页脚 #}
        <footer class="g-footer text-center">
            <hr class="col-8">
            <section>AustinWilliam117 Blog ©2020</section>
        </footer>
        {% block script_extends %}{% endblock %}
    </div>
    <script src="https://cdn.bootcss.com/highlight.js/9.15.8/highlight.min.js"></script>
    <script src="https://cdn.bootcss.com/highlightjs-line-numbers.js/2.7.0/highlightjs-line-numbers.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
        hljs.initLineNumbersOnLoad();
    </script>
</body>
</html>